<mat-sidenav-container fullscreen style="background-color: rgb(247, 247, 247);">

<p>
    <mat-toolbar style="background-color: white; box-shadow: 0px 5px 5px rgb(214, 214, 214); " *ngIf="open == 'true'">
      <span></span>
      <span class="example-spacer"></span>
      <span class="lead3">Juanpi</span>
      <div class="btn-Menu"> 
        <img src="assets/img/P2.jpg">
      </div>
    </mat-toolbar>
  </p>

  <mat-sidenav #sidenav mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened={{open}}
    class="background-sidenav">
    <div class="logomain"></div>
    

    <mat-nav-list>
      <mat-list-item>
        <div class="example-sidenav-content" *ngIf="sidenavWidth <= 5" style="cursor: pointer;">
          <mat-icon (click)="increase()" class="sidenav-menu">chevron_right</mat-icon>
        </div>
        <div class="example-sidenav-content" *ngIf="sidenavWidth > 5" style="cursor: pointer; position: absolute; right: 15px; display: flex;">
          <h5 class="lead2">REPORT CREATOR</h5>
          <mat-icon (click)="decrease()" class="sidenav-menu">chevron_left</mat-icon> 
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/editor" routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Inicio</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/editor" routerLinkActive="active">
        <mat-icon mat-list-icon>search</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Buscar</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/editor" routerLinkActive="active">
        <mat-icon mat-list-icon>library_books</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Reportes</h5>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="" routerLinkActive="active">
        <mat-icon mat-list-icon>delete</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Papelera</h5>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/artistas" routerLinkActive="active" >
        <mat-icon mat-list-icon>people</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Clientes</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/login" routerLinkActive="active" style="position: absolute; bottom: 0;">
        <mat-icon mat-list-icon>logout</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Cerrar sesión</h5>
        </div>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>

